- breadcrumb_title "CI / CD Settings"
- page_title "CI / CD"

%section.settings#ci-variables.no-animate{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    = render 'ci/variables/header', expanded: expanded_by_default?
  .settings-content
    = render 'ci/variables/index', save_endpoint: group_variables_path

%section.settings#runners-settings.no-animate{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Runners')
    %button.btn.btn-default.js-settings-toggle{ type: "button" }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Register and see your runners for this group.')
  .settings-content
    = render 'groups/runners/index'
