%h3.page-title
  = @service.title

%p= _('%{service_description} template') % { service_description: @service.description }

= form_for :service, url: admin_application_settings_service_path, method: :put, html: { class: 'fieldset-form' } do |form|
  = render 'shared/service_settings', form: form, subject: @service

  .footer-block.row-content-block
    = form.submit _('Save'), class: 'btn btn-success'
