- plugins = Gitlab::Plugin.files

.row.prepend-top-default
  .col-lg-4
    %h4.prepend-top-0
      = _('Plugins')
    %p
      - plugins_link_start = "<a href='#{help_page_path('administration/plugins')}' target='_blank' rel='noopener noreferrer'>".html_safe
      = _("%{plugins_link_start}Plugins%{link_end} are similar to system hooks but are executed as files instead of sending data to a URL.").html_safe % { plugins_link_start: plugins_link_start, link_end: '</a>'.html_safe }

  .col-lg-8.append-bottom-default
    - if plugins.any?
      .card
        .card-header
          = _('Plugins (%{plugins_count})') % { plugins_count: plugins.count }
        %ul.content-list
          - plugins.each do |file|
            %li
              .monospace
                = File.basename(file)
    - else
      .card.bg-light.text-center
        .nothing-here-block= _('No plugins found.')
